{% extends 'base.html' %} 
{% load static %} 
{% block title %}Projet form{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      {{ message | safe }}
  </div>
{% endfor %}
{% endif %}
<div class="container">
    <br>
    <h1>Ajout d'un Projet</h1>
    <br>

    {% if submitted %} 
        Monthly Report added successfuly !! 
    {% else %}
    <div class="container">

          <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
              <form class="form-horizontal" action="{% url 'add_project' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Compte_Analytique</label>
                  {{form.Compte_Analytique }}
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Libelles</label>
                  {{form.Libelles }}
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                  <label for="disabledSelect" class="form-label">Structure_gerante</label>
                    {{form.Structure_gerante }}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="disabledSelect" class="form-label">Perimetre</label>
                    {{form.Perimetre }}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="disabledSelect" class="form-label">Champ</label>
                    {{form.Champ }}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="disabledSelect" class="form-label">Famille</label>
                    {{form.Famille }}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="disabledSelect" class="form-label">Type</label>
                    {{form.Type }}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="disabledSelect" class="form-label">Fiscalite</label>
                    {{form.Fiscalite }}
                  </select>
                </div>

                <label for="disabledSelect" class="form-label">Realisation_cum_total</label>
                <div class="row">
                  <div class="col">
                    {{form.Realisation_cum_total }}
                  </div>
                  <div class="col">
                    {{form.Realisation_cum_devise }}
                  </div>
                </div>
                <br> 

                <label for="disabledSelect" class="form-label">Realisation_S1_total</label>
                <div class="row">
                  <div class="col">
                    {{form.Realisation_S1_total }}
                  </div>
                  <div class="col">
                    {{form.Realisation_S1_devise }}
                  </div>
                </div>
                <br> 

                <label for="disabledSelect" class="form-label">Prevision_S2_total</label>
                <div class="row">
                  <div class="col">
                    {{form.Prevision_S2_total }}
                  </div>
                  <div class="col">
                    {{form.Prevision_S2_devise }}
                  </div>
                </div>
                <br>

                <label for="disabledSelect" class="form-label">Prevision_n_devise</label>
                <div class="row">
                  <div class="col">
                    {{form.Prevision_n_total }}
                  </div>
                  <div class="col">
                    {{form.Prevision_n_devise }}
                  </div>
                </div>
                <br>

                <label for="disabledSelect" class="form-label">Prevision_n1_devise</label>
                <div class="row">
                  <div class="col">
                    {{form.Prevision_n1_total }}
                  </div>
                  <div class="col">
                    {{form.Prevision_n1_devise }}
                  </div>
                </div>
                <br>
                
                <label for="disabledSelect" class="form-label">Prevision_n2_devise</label>
                <div class="row">
                  <div class="col">
                    {{form.Prevision_n2_total }}
                  </div>
                  <div class="col">
                    {{form.Prevision_n2_devise }}
                  </div>
                </div>
                <br> 

                <label for="disabledSelect" class="form-label">Prevision_n3_devise</label>
                <div class="row">
                  <div class="col">
                    {{form.Prevision_n3_total }}
                  </div>
                  <div class="col">
                    {{form.Prevision_n3_devise }}
                  </div>
                </div>
                <br> 

                <label for="disabledSelect" class="form-label">Prevision_n4_devise</label>
                <div class="row">
                  <div class="col">
                    {{form.Prevision_n4_total }}
                  </div>
                  <div class="col">
                    {{form.Prevision_n4_devise }}
                  </div>
                </div>
                <br> 
                <div class="form-check">
                  {{form.Project_puit }}
                  <label class="form-check-label" for="flexCheckChecked">
                    Checked checkbox
                  </label>
                </div>


              <fieldset>
    
                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-secondary">Ajouter</button>
                  </div>
                </div>
              </fieldset>
              </form>
            </div>
          </div>
    </div>
    {% endif %} 
</div>

{% endblock %}
