{% extends 'base.html' %} 
{% load static %} 
{% block title %}Rapports Mensuels form{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>Rapport Mensuel</h1>
    <br>
    {% if submitted %} 
        Monthly Report added successfuly !! 
    {% else %}
    <div class="container">

          <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
              <form class="form-horizontal" action="{% url 'add_mensuel' %}" method="post">
                {% csrf_token %}

                <label class="form-label">Projet</label>
                  <div class="mb-3">
                    {{form.Project }}
                  </div>

                  <label class="form-label">Mois de Réalisation</label>
                    <div class="mb-3">
                      {{form.Mois_real }}
                    </div>

                <label class="form-label">Réalisation</label>
                <div class="row">
                  <div class="col">
                    {{form.Montant_real_Total }}
                  </div>
                  <div class="col">
                    {{form.Montant_real_Devise }}
                  </div>
                </div>
                <br> 

                <label class="form-label">Point de situation</label>
                <div class="mb-3">
                    {{form.Point_situation }}
                  </div>
                
              <fieldset>
    
                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-secondary">Ajouter</button>
                  </div>
                </div>
              </fieldset>
              </form>
            </div>
          </div>
    </div>
    {% endif %} 
</div>

{% endblock %}
