{% extends 'base.html' %} 
{% load static %} 
{% block title %}Rapports Mensuels form{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>Rapport Mensuel</h1>
    <br>
    {% if submitted %} 
        Monthly Report added successfuly !! 
    {% else %}
    <div class="container">

          <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
              <form class="form-horizontal" action="{% url 'add_mensuel' %}" method="post">
                {% csrf_token %}
                {{form.as_p }}
              <fieldset>
    
                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-secondary">Ajouter</button>
                  </div>
                </div>
              </fieldset>
              </form>
            </div>
          </div>
    </div>
    {% endif %} 
</div>

{% endblock %}
